<html>
<head>
    <title>Employees add</title>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="utf-8">
    <title>Add Departments for Employee</title>
</head>
<body class="text-center bg-light text-dark">
<div class="text-center" style="padding-bottom: 50px">
    <div class="navbar">
        <a th:href="@{/}">Main</a>
        <a th:href="@{/employees/getAll}">Employees</a>
        <a th:href="@{/departments/getAll}">Departments</a>
        <a th:href="@{/employees}">Employees REST</a>
        <a th:href="@{/departments}">Departments REST</a>
        <a th:href="@{/employees/1}">Employee№1</a>
        <a th:href="@{/departments/1}">Department№1</a>
    </div>
</div>
<table>
    <caption th:value="'List of departments that can be added for an employee with ID:' +  ${employee.id} + 'and Name' + ${employee.name}"></caption>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>createDate</th>
        <th colspan="3"></th>
    </tr>
        <th:if test="${departments.size() eq 0}">
            <td colspan="8">
                List of Departments don't exist
            </td>
        </th:if>
    <th:block th:each="department : ${departments}">
            <tr>
                <td th:text="${department.id}"></td>
                <td th:text="${department.name}"/></td>
                <td th:text="${department.createDate}"/></td>
                <form id="add" method="post" th:action="@{/employees/add}">
                    <td><button name="departmentId" form="add" style="margin:auto;display: block;alignment: center" th:value="${department.id}" class="button button1">Add</button></td>
                </form>
            </tr>
    </th:block>
    <form id="create" method="post" th:action="@{/employees/add}">
        <tr><td colspan="8"><button name="isSubmit" form="create" th:value="true" style="margin:auto; display: block;alignment: center" class="button button1">Submit</button></td></tr>
    </form>
</table>
</body>
</html>