<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Departments of employee</title>
</head>
<body class="text-center bg-light text-dark">
<div class="text-center" style="padding-bottom: 50px">
    <div class="navbar">
        <a th:href="@{/}">Main</a>
        <a th:href="@{/employees/getAll}">Employees</a>
        <a th:href="@{/departments/getAll}">Departments</a>
        <a th:href="@{/employees}">Employees REST</a>
        <a th:href="@{/departments}">Departments REST</a>
        <a th:href="@{/employees/1}">Employee№1</a>
        <a th:href="@{/departments/1}">Department№1</a>
    </div>
</div>
<table>
    <caption th:text="'List Departments of Employee with Id: ' + ${employee.id} + 'and Name: ' + ${employee.name}">
    </caption>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>createDate</th>
        <th colspan="4"></th>
    </tr>
    <th:block th:if="${employee.departmentList.size() eq 0}">
            <td colspan="9" th:value="'List Departments of Employee with Id: ' + ${employee.id} + 'and Name: ' + ${employee.name} + 'dont exist'">
            </td>
    </th:block>
    <th:block th:if="${employee.departmentList.size() > 0}">
            <th:block  th:each="department : ${employee.departmentList}">
                <tr>
                    <td th:text="${department.id}"></td>
                    <td th:text="${department.name}"></td>
                    <td th:text="${department.createDate}"></td>
                    <td><a class="button" th:href="@{'/departments/get?id=' + ${department.id}}">View</a></td>
                    <td><a class="button" th:href="@{'/departments/get?id=' + ${department.id} + '&isUpdate=true'}">Update</a></td>
                    <form id="form" method="post" th:action="@{'/employees/remove'}">
                        <input name="departmentId" type="hidden" th:value="${department.id}"/>
                        <td><button class="button" type="submit" name="employeeId" th:value="${employee.id}" form="form">Remove</button></td>
                    </form>
                    <td><a class="button" th:href="@{'/departments/getEmployees?id=' + ${department.id}}">Employees</a></td>
                </tr>
            </th:block>
    </th:block>
    <tr>
        <td colspan="5" th:text="'PageNumber : ' + ${page}"></td>
        <td>
                <a th:if="${page > 1}" class="button button1" th:href="@{'/employees/getDepartments?id=' + ${employee.id} + '&page=' + ${page - 1}}">PREVIOUS</a>
        </td>
        <td>
                <a th:if="${employee.departmentList.size() > 10}" class="button button1" th:href="@{'/employees/getDepartments?id=' + ${employee.id} + '&page=' + ${page + 1}}">NEXT</a>
        </td>
    </tr>
    <form id="poster" method="get" th:action="@{/employees/add}">
        <tr><td colspan="9"><button name="employeeId" type="submit" form="poster" th:value="${employee.id}" style="margin:auto;display: block;alignment: center" class="button button1">ADD</button></td></tr>
    </form>
</table>
</body>
</html>